.page--addtasks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    position: relative;
}

.tasks--created{
    width:200px;
    height: 30px;
    background-color: yellowgreen;
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 18px;
    left: 25%;
    transition: all ease 0.3;
    display: none;
}

@keyframes taskAnimation{
   0%{
      opacity: 0;
   }
   50%{
      opacity: 1;    
   }
   100%{
      opacity: 1;     
   }
}
